/*
Author: Julian Lamprea
Author URI: http://www.smadit.com
Description: TuTurno Webapp Base Styles for all views
Version: 1.0
*/


html, body { margin: 0; padding: 0; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

html {
	width:100%;
	font-size: 100%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
}

@font-face {
    font-family: 'digital_display_tfbregular';
    src: url('fonts/digital_display_tfb-webfont.eot');
    src: url('fonts/digital_display_tfb-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/digital_display_tfb-webfont.woff') format('woff'),
         url('fonts/digital_display_tfb-webfont.ttf') format('truetype'),
         url('fonts/digital_display_tfb-webfont.svg#digital_display_tfbregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.topnav { min-height: 57px; background-color: #CF1E26; padding: 10px 0; text-align: center; margin-bottom: 40px; }

.circle { border: 9px solid #CF1E26; background-color: white; float: left; overflow: hidden;
    border-radius: 200px; -webkit-border-radius: 200px; -moz-border-radius: 200px; }
.circle .label, .circle .turns { display: block; margin: 0 auto; text-align: center; width: 70%; white-space:inherit; }
.circle .label { color: #000; padding-top: 20px; }
.circle .turns, .circle .timer { color: #888; font-family: 'digital_display_tfbregular';  }

.wrapper { max-width: 960px;margin: 0 auto; }

.round-button { width:25%; margin: auto; }
.round-button-circle {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    overflow:hidden;
    
    background: #CF1E26; 
    box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
    background:#AC171E;
}
.round-button button, .round-button a {
    display:block;
    float:left;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-1em;
    
    text-align:center;
    color:#fff;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:normal;
    text-decoration:none;
    cursor: pointer;
    border: none;
    background: none;
}
.big-button .round-button-circle a, .big-button .round-button-circle button { font-size: 2.5em; }
.small-button .round-button-circle a, .small-button .round-button-circle button { font-size: 1.5em; }

.seconds {display: none;}