/*** Splash Screen ***/

.splash {
    position: absolute;
    height:100%;
    width:100%;	
    /*filter: alpha(opacity=20);
    opacity: 0.2;*/
    background: #CF1E26;
}

.wrapperLogin {
	width: 402px;
	position: relative;
	top: 25%;
	background: white;
	padding: 30px 20px;
	border-radius: 7px;
	box-shadow: 0px 0px 16px 2px #444;
}

.login-content #logo { margin-bottom: 25px; }

.title.border-bottom { margin-bottom: 12px; }

.control-group input {
	border: 1px solid #dedede;
	padding: 10px;
	width: 100%;
	margin-bottom: 0;
	background-color: #F3F3F3;
	color: #000;
	outline: none;
}

input#username {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}
input#password {
	border-top: none;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	margin-bottom: 20px;
}