/*
Author: Julian Lamprea
Author URI: http://www.smadit.com
Description: TuTurno Web app for tablet controls
Version: 1.0
*/

body.santafe {
    background-image: url('../images/tribal-1.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


/*** Splash Screen ***/
.splash { display: none; }

[ng-cloak].splash { display: block !important; }

.splash {
    position: absolute;
    height:100%;
    width:100%;	
    /*filter: alpha(opacity=20);
    opacity: 0.2;*/
    background: #CF1E26;
}
.splash h2 img {margin-bottom:40px;}
.splash h2 {
    font-size: 4em;
    color:white;
    position: absolute;
	top: 50% !important;
	left: 50% !important;
	margin: -100px 0 0 -240px;
    text-align: center;
}

/******** Common Elements ********/
.border-error { border-color: #a94442 !important; }
#showMessage.has-error {margin: 12px auto;}
#showMessage.has-error .input-group-addon {background: #f2dede;}
#showMessage .input-group-addon {border: none; padding: 20px; background: none; border-radius: 20px;}


/******** HOMEPAGE ********/
.homepage { max-width: 90%; margin: auto; position: relative; }
.queue-info { margin: 0 auto 35px; clear: both; display: table; }

.homepage .big-button {width: 215px; position: relative; top: -75px; margin: 0 auto; padding-left: 26px; }

.currentTurn.circle { width: 290px; height: 290px; }
.currentTurn.circle .label { font-size: 1.5em; }
.currentTurn.circle .turns { font-size: 17em; line-height: 55%; margin: 10px 0 56px 6px; text-align: center; width: 100%; }

.countdown.circle { width: 275px; height: 275px; margin-left: 100px; }
.countdown.circle .label { font-size: 1.5em; }
.countdown.circle .timer { font-size: 10em; line-height: 55%; margin: 10px 8px 18px 0; padding-left: 8px; text-align: center; white-space: nowrap; }


/******** REQUEST TURN PAGE ********/
#showTurnNumber, .label-phone {display: none;}
.label-phone {max-width: 95%; margin: auto;}
.keyboard, .shownumber {max-width: 85%; font-family: 'digital_display_tfbregular';}
.keyboard { text-align: center; background-color: rgba(255, 255, 255, 0.5); position:relative; }
.keyboard .key-btn {font-size: 70px; margin: 5px 10px; padding: 0 25px; display: inline-block; line-height: 60px; border: none; border-radius: 50%; width: 80px; height: 80px; overflow: hidden; outline: none; }

.shownumber {text-align: center; margin-bottom: 20px; padding: 0; min-height: 85px;
    border: 1px solid #dedede; border-radius: 10px;
    font-size: 72px;
    background-color: rgba(220,220,220,0.6); line-height: 76px;
}
.shownumber input { width: 95%; height: 95%; box-sizing: border-box; padding: 10px; 
    font-size: inherit; letter-spacing: 6px; text-align: center;
    border: none; background: none; outline: none;
}

.shownumber input[type=number]::-webkit-inner-spin-button, 
.shownumber input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.requestturnpage, .confirmpage {margin-bottom: 20px;}
.requestturnpage .currentTurn.circle, .requestturnpage .countdown.circle { width: 215px; height: 215px; }
.requestturnpage .currentTurn.circle .turns { font-size: 11em; }
.requestturnpage .countdown.circle .timer { font-size: 8em; }
.requestturnpage .countdown.circle {margin-left: 20px;}

.requestturnpage .countdown .info-time { font-family: courier; font-size: 18px; }

.requestturnpage .big-button {width: 180px; height: 180px; margin-left: 20px;}

.round-button.erase { width: 80px; height: 80px; position: absolute; bottom: 5px; right: 50px; }
.round-button.erase button { padding-top:60%; }


/******** CONFIRM TURN PAGE ********/
.confirmpage .round-button.big-button { width: 175px; }
.confirmpage .info-cell { font-weight: bold; letter-spacing: 2px; }




/******** MEDIA QUERIES COMMONS ********/
@media (max-width: 360px) {
    .currentTurn.circle, .countdown.circle, .circle {
        clear: both;
        float: none !important;
        margin: 10px auto !important;
        width: 250px; height: 250px;
    }

    .currentTurn.circle .turns { font-size: 14em; }

    .countdown.circle .timer { font-size: 9em; }

    .ng-scope .big-button { top: -10px; padding: 0; margin: auto; }

	#showTurnNumber {display:block;}
    .label-phone {display: block; font-size: 25px;}
    .keyboard { display: none; }
    .shownumber { max-width: 95%; margin: 0 auto 20px; font-size: 55px; }
    .shownumber input { padding: 5px; line-height: 60px; }

    .has-error { max-width: 100%; overflow: hidden; }
}

@media (min-width: 360px) and (max-width: 640px) {
    .label-phone {display: block; font-size: 35px;}
    .keyboard { display: none; }
    .shownumber { max-width: 95%; margin: 0 auto 20px; }
	#showTurnNumber {display:block;}
}