/*
Author: Julian Lamprea
Author URI: http://www.smadit.com
Description: Webview for the NEXT TURN button
Version: 1.0
*/

.wrapper { max-width: 320px; width: 100%; height: 100%; position: relative; }
.currentTurn.circle { width: 160px; height: 160px; float: none; margin-left: 20px; border-width:9px; }
.currentTurn .label { font-size: 1.1em; }
.currentTurn .turns { font-size: 9em; line-height: 55%; margin: 10px 0 56px 6px; text-align: center; width: 100%; }

.next-turn .topnav { margin-bottom: 20px; min-height:inherit; }
.next-turn .round-button.big-button { width: 140px; position: absolute; right: 15px; bottom: -110px; }
.next-turn .big-button .round-button-circle a {font-size: 2em; line-height: 30px;}


.border-error { border-color: #a94442 !important; }
#showMessage.has-error {margin: 130px auto 0; width: 90%; }
#showMessage.has-error .input-group-addon {background: #f2dede; text-align: center;}
#showMessage .input-group-addon {border: none; padding: 20px; background: none; border-radius: 6px;}


.footer { position: absolute; bottom: 0; width: 100%; padding: 6px; box-sizing: border-box; text-align: center; background-color: #e5e5e5; }

.show-turn {background-color: #000;}
.show-turn .topnav { margin-bottom: 0px; min-height:inherit; }
.show-turn .wrapper{ position: static; }
.next-turn .waitingTurns {
	width: 90px;
	height: 90px;
	float: none;
	margin-left: 20px;
	position: absolute;
	border-width: 6px;
}
.next-turn .waitingTurns .label {font-size: 13px; padding-top: 15px;}
.next-turn .waitingTurns .turns {font-size: 44px; line-height: 38px;}
.show-turn .turns {
	line-height: 0.45em; 
	font-family: 'digital_display_tfbregular';
	font-size: 28rem;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	margin-top: -123px;
	margin-left: -180px;
	color: #F00;
	letter-spacing: 16px;
}

@media all and (min-width: 400px) and (max-width: 650px) {
	.show-turn .turns {
		font-size: 8em;
		margin-top: -12%;
	}
}